#a{
    color:#CC99FF;
    font-family:'Consolas';
    
}
#b{
    color:red;
    font-weight: bold;
}
#c{
    font-family:'Times New Roman';
    font-size: 18px;
}
#d{
    color:#00EE00;
    font-family:'Consolas';
}
#e{
    color:#009900;
    font-style: italic;
    font-weight: bold;
    font-family:'Consolas';
}